Pipfile
Pipfile.lock
.gtattribures
.vscode
.DS_Store
.idea
watcharapon/client/.nuxt
watcharapon/client/node_modules
watcharapon/client/yarn.lock
nattawut/client/.nuxt
nattawut/client/node_modules
nattawut/client/yarn.lock
